# Models & Large Weights 
models/mt5-shqip-LoRA/tokenizer.json
*.safetensors
*.bin
*.pth
*.onnx

# Datasets & Predictions (të dhënat CSV, JSON, etj.)
data/
*.csv
*.jsonl

# Environments & Virtual Environments
venv/
.venv/
env/

# Python Cache & Artifacts
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/

# IDE & OS Specific
.vscode/
.idea/
.DS_Store


# Documentation

documentation.md